/** Background image */
html{
	
	background-image: url('images/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

p{
	color: #202020;
	font-family: 'Pompiere', cursive;
}

body{
	font-family: 'New Rocker', cursive;
	font-size: 16pt;
}

h1{
	font-family: 'New Rocker', cursive;
	font-size: 50pt;
	color: #250000;

}
#list{
	background-image: url('images/scroll.png');
	background-size: 100% 100%;
	padding: 5%;
	display: inline-block;


}
td {
    padding-top: 7%;
    padding-bottom: 7%;
    padding-left: 7%;
    padding-right: 7%;
    text-align: left;
 
}

#imagegrid{
	background-image: url('Test images/map.jpg');
	background-size: 100% 100%;
	width: 60%;
	float: right;
	padding: 2%;
	display: inline-block;
	max-width: 500px;
	margin-right: 5%;


}
.grid{

	display: inline-block;
    float: left;
    width: 100px;
    height: 100px;
    padding: 10px;

}