/** Background image */
html{

	background-image: url('../images/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;

}

p{
	color: #202020;
	font-family: 'Della Respira', cursive;
}

body{
	font-family: 'New Rocker', cursive;
	font-size: 16pt;

}

h1{
	font-family: 'Pirata One', cursive;
	font-size: 50pt;
	color: #250000;

}
h1:first-of-type{
	margin-left: 50px;
	display: inline-block;
}
#topBanner{

}
#instructions{
	position: absolute;
	top: 150px;
	right: 200px;
	font-size: 12pt;
}

#list{
	background-image: url('../images/scroll.png');
	background-size: 100% 100%;
	padding: 5%;
	display: inline-block;
	margin:2% 6% 3% 5%;
	font-family:  'Pompiere', cursive;
	max-width: 30%;



}


td {
    padding: 25px 0 25px 0;
    text-align: left;
 


}



#imagegrid{
	
	background-image: url('../images/map.jpg');
	background-size: 100% 100%;
	padding: 2%;
	margin-right: 5%;
	margin-top: 2%;
	float: right;
	display: inline-block;
	min-width: 500px;
	max-width: 30%;
	min-height: 500px;
	max-height: 20%;
}

.grid{
	display: inline-block;
    float: left;
    min-width: 100px;
    min-height: 100px;
    max-width: 20%;
    max-height: 100px;
    margin: 10px;
    border: 2px solid white;
}

.over {
  -webkit-box-shadow: 2px 2px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 25px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 25px 0px rgba(0,0,0,0.75);
}
.tick{
	width: 16pt;
	height: 16pt;
}
#newgame{
	display: inline-block;
	float: left;
	font-size: 30px;
	margin-left: 50px;
	font-family: 'Pompiere', cursive;
	text-decoration: none;
	color: black;
	background-color: white;
	padding: 5px 10px 5px 10px;
	opacity: 0.7;



}

#moremap{
	display: inline-block;
	float: right;
	font-size: 30px;
	margin-right: 50px;
	font-family: 'Pompiere', cursive;
	text-decoration: none;
	color: black;
	background-color: white;
	padding: 5px 10px 5px 10px;
	opacity: 0.7;
	border: 1px solid black;
}
/*timer style*/

.box{
	float: right;
	margin-top: 60px;
	margin-right: 300px;
	font-family: 'Della Respira', cursive;
	font-size: 30pt;
	font-weight: bold;

}
#showtime{
	margin:20px;margin-bottom: 20px;text-align: center;
}

button{
	display: none;
}
#record{
	margin-top:20px;
}
#record div{
	width:400px;height:30px;border-bottom:1px dotted #666;
}
#record span{
	font-size:20px;
}
