@charset "utf-8";
/* CSS Document */

/** Font stacks and background */
html{
	
	background-image: url('../images/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
p{
	color: #202020;
	font-family: 'Della Respira', cursive;
	font-size: 16pt;
}
h1{
	font-family: 'Pirata One', cursive;
	font-size: 60pt;
	color: #662200;
}
h2{
	font-family: 'Della Respira', cursive;
	font-size: 30pt;
	font-weight: bold;
}
a{
	font-family: 'Della Respira', cursive;
	font-weight: bold;
	font-size: 20pt;
}
inputbox{
	width:560px;
	height:auto;
}


.pageHeading{
	  margin-bottom:10px;
	  margin-top:10px; 
}


.container {
    width: 40%;
    padding-left: 5%;
    float:left;
  
}


select, #savedCategory{
	font-size: 16pt;
	font-family: 'Della Respira', cursive;

}

.button{
	font-size: 16pt;
	font-family: 'Della Respira', cursive;

}
#createCustomGame{
	float: right;
}
.menu-grids{
	    margin-top: 3em;
		box-sizing: border-box;
		height: auto !important;
		}
	
div{font-size:20px;
	text-align:center;
	
	
}

div ul{list-style-type:none;
	   width:auto;
	   height:auto;
	   padding:auto;
	   margin:0;
	   
	   
}

div ul li{display:inline-block;
	      color:#000;
}

div ul li a,visited{color:#000;
					display:block;
					padding:15px 50px;
					text-decoration:none;
}



#gray{width:auto;height:auto;background:rgba(0,0,0,0.3);position:fixed;top:0px;display:none;z-index:99;}



.tc{
	text-decoration: none;
	color: black;
	


}
.ac{
	position: absolute;
	top: 50px;
	right: 20px;
	font-size: 30px;
	margin-right: 50px;
	text-decoration: none;
	color: black;
	background-color: white;
	padding: 5px 10px 5px 10px;
	opacity: 0.7;
}
.popup{
	width:560px; 
	height:560px;
	background-color:#fff;
	position:absolute;
	z-index:100;
	border:1px solid #ebeaea;
	left:400px;
	top:96px;
	display:none;
}


.popfoot{
	width:550px; 
	height:auto;
	background-color:#fff;
	position: absolute;
	top: 20%;
	left: 35%;
	border:1px solid #ebeaea;
	display:none;
	}

	

.guanbi{
	background-image:url(../images/popupGuanbi.png));
}
.close{
	background-image:url(../images/popupGuanbi.png));
}

.popup .top_nav{
	width:560px;
	height:46px;
	border-bottom:1px solid #ebeaea;
	position:relative;
	cursor:move;
}
.popfoot .ftop_nav{
	width:532px;
	height:46px;
	border-bottom:3px solid #ebeaea;
	position:relative;
	cursor:move;

}

.popup .top_nav i{width:35px;height:35px;position:absolute;top:6px;left:8px;display:block; }



.popup .top_nav span{color:#707070;display:block;position:absolute;top:13px;left:50px;}

.popfoot .ftop_nav span{color:#707070;display:block;position:absolute;top:13px;left:50px;}

.popfoot .ftop_nav a.close{ width:35px; height: 35px; background:url(../images/popupGuanbi.png) repeat 0px 0px;display: block; position:absolute;top:8px;right:10px;cursor:pointer;}

.popup .top_nav a.guanbi { width:35px; height: 35px; background:url(../images/popupGuanbi.png) repeat 0px 0px;display: block; position:absolute;top:8px;right:10px;cursor:pointer;}

.popup .top_nav a.guanbi span { display: none;}

.popup .min{width:532px;height:auto;}

#customGame{width:532px;height:360px;}

#customGame_div{{width:532px;height:360px;}}

.tc_login{width:532px;height:380px;}

.tc_login .center{width:532px;height:380px; float:left;}

.tc_login .center h2, h3, h4, h5{width:532px;height:50px;margin:20px 0 20px 0;font-size:30px;color:#666;text-align:center;}


.tc_login .center .h2 .h3 .h4 .h5{font-size:20px;color:#090;text-align:center;margin:15px 0 0px 0;}
.tc_login .center a{color:#666;float:right;margin:16px 0 0px 6px;}
.tc_login .center a:hover{color:#06F;text-decoration: underline;}
.tc_login .center input{
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #000;
    font-size: 1em;
    height: 40px;
    padding:0 0 0 34px;
    transition: background 0.3s ease-in-out;
    width: 220px;
	float:right;
}
.tc_login .center input:focus {
    outline: none;
    border-color: #019A0D;
    box-shadow: 0 0 0px #019A0D;
}

.tc_login .center .button{
-webkit-appearance: none;
    background:#36F;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out;
    width:auto;
	padding:0 50px 0 50px;
	font-weight: bold;
}
/*End game edit */

#chest{
	display: block;
	margin: auto;
	position: relative;
	display: center;
}
#newgame{
	position: absolute;
	bottom: 20px;
	left: 20px;
	font-size: 30px;
	margin-left: 50px;
	font-family: 'Pompiere', cursive;
	text-decoration: none;
	color: black;
	background-color: white;
	padding: 5px 10px 5px 10px;
	opacity: 0.7;
}
#leaderboard{
	position: absolute;
	bottom: 20px;
	right: 20px;
	font-size: 30px;
	margin-right: 50px;
	font-family: 'Pompiere', cursive;
	text-decoration: none;
	color: black;
	background-color: white;
	padding: 5px 10px 5px 10px;
	opacity: 0.7;
}
.leaderboard1{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Pompiere', cursive;
	font-size: 30pt;
	font-weight: bold;
}

.endGame{
	overflow: hidden;
	position: relative;
}
.congratulations{
	position: absolute;
	right: -400px;
	top:40%;
	height: 400px;
	
	transition: transform 1000ms cubic-bezier(0, 0.47, 0.32, 1.97);
	
}
.endGame:hover .congratulations{
	transform: translate(-500px,0px);
}


